.myNavBtn {
    float: right
};
.myJumbotron {
    background-image: url('../../images/Morning_sun_coffee_newspaper_table_590.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height:650px;
    margin: 0%;
}
.myJum {
    text-align: center;
    color: white;
    margin-top:10%;
}